#body{
    background-color: tomato;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYHd4nhm7Ji3L0DMrHi3dYJ9_x0X_3zM4qkQ&usqp=CAU);
    max-width: 465px;
    align-items: center;
    margin: 30vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px gray;
}

H1{
    image-orientation: flip;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvDuTvWHQuZaVD9WezOBH1LUFE3w0Z-2weJQ&usqp=CAU);
    color:red (31, 202, 39);
    text-align: center;
    
}

#display{
    width: 500px;
    height: 200px;
    padding: auto;
    text-align: center;
    font-size: 40PX;
}

#plus{
    width: 150px;
    height: 70px;
    line-height: 70px;
    padding: 6px 6px;
    font-size: 25px;
    align-content: center;
    background-color: rgb(142, 143, 163);
    color: white;
}

#plus:hover{
    background-color: indigo;
    color: white;
}

#minus{
    width: 150px;
    height: 70px;
    line-height: 70px;
    padding: 6px 6px;
    font-size: 25px;
    align-content: center;
    background-color: rgb(5, 5, 5);
    color: white;
}

#minus:hover{
    background-color: rgb(231, 10, 10);
    color: white;
}

#reset{
    width: 150px;
    height: 70px;
    line-height: 70px;
    padding: 6px 6px;
    font-size: 25px;
    align-content: center;
    background-color: midnightblue;
    color: white;

}

#reset:hover{
    color: red;
}